/**
 * Misc
 */

body {
  background-color: #323232;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

.input {
  font-size: 25px;
  width: 500px;
  display: block;
  margin: 20px auto 10px auto;
  border: 0;
  padding: 10px;
}

.input:focus{
    outline: none;
}

/**
 * Chat
 */

.chat {
  margin: 0 auto;
  width: 900px;
}

.chat-messages {
  background-color: #efeef1;
  color: #433f4a;
  display: inline-block;
  width: 400px;
  font-size: 13.33333px;
  line-height: 17.33333px;
  margin: 10px;
}

.chat-lines {
  display: block;
  padding: 10px 0;
  list-style-type: none;
}

.chat-line {
  word-break: break-word;
  padding-top: 5px;
  margin-top: inherit;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  padding: 6px 20px;
  margin: -3px 0;
}

.timestamp {
  margin-right: 2px;
  color: #706a7c;
}

.badges {
  display: inline-block;
}

.badge {
  margin-bottom: 1px;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
  height: 18px;
  min-width: 18px;
  display: inline-block;
  vertical-align: middle;
}

.badge:last-child {
  margin-right: 5px;
}

.from {
  font-weight: 700;
  cursor: pointer;
}

.colon {
  margin-right: 2px;
}

.subscriber {
  background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/badges/18454/18x18.png);
}

.twitch-bits-1 {
  background: url(https://static-cdn.jtvnw.net/badges/v1/73b5c3fb-24f9-4a82-a852-2f475b59411c/1);
}

.twitch-bits-1000 {
  background: url(https://static-cdn.jtvnw.net/badges/v1/0d85a29e-79ad-4c63-a285-3acd2c66f2ba/1);
}

.twitch-premium-1 {
  background: url(https://static-cdn.jtvnw.net/badges/v1/a1dd5073-19c3-4911-8cb4-c464a7bc1510/1);
}

.emoticon {
  vertical-align: baseline!important;
  display: inline-block;
  max-height: 28px;
  max-width: 28px;
}

/**
 * Dark mode
 */

.chat.chat-messages {
  background-color: rgb(30,30,30);
  color: #D3D3D3;
}

.chat .timestamp {
  color: #7B7B7B;
}
